services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    profiles: ["jellyfin"]
    restart: unless-stopped
    ports:
      - "8096:8096"
    volumes:
      - /mnt/riven/mount:/media:ro
      - /mnt/jellyfin:/config
    devices:
      - /dev/dri:/dev/dri
    networks: [media]

  plex:
    image: lscr.io/linuxserver/plex
    container_name: plex
    profiles: ["plex"]
    restart: unless-stopped
    ports:
      - "32400:32400"
    environment:
      PUID: 1000
      PGID: 1000
      VERSION: docker
    volumes:
      - /mnt/riven/mount:/media:ro
      - /mnt/plex:/config
    devices:
      - /dev/dri:/dev/dri
    networks: [media]

  emby:
    image: emby/embyserver
    container_name: emby
    profiles: ["emby"]
    restart: unless-stopped
    ports:
      - "8097:8096"
    volumes:
      - /mnt/riven/mount:/media:ro
      - /mnt/emby:/config
    devices:
      - /dev/dri:/dev/dri
    networks: [media]

networks:
  media:
    name: media
    driver: bridge
